<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module
  PUBLIC '-//Puppy Crawl//DTD Check Configuration 1.1//EN'
  'http://www.puppycrawl.com/dtds/configuration_1_1.dtd'>
<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <property name="localeLanguage" value="en"/>
  <module name="FileLength"/>
  <module name="JavadocPackage"/>
  <module name="NewlineAtEndOfFile">
    <property name="lineSeparator" value="lf"/>
  </module>
  <module name="Translation"/>
  <module name="UniqueProperties"/>
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
    <property name="fileExtensions" value="java"/>
  </module>
  <module name="RegexpSingleline">
    <property name="format" value="(?&lt;!\A[ \t]*\*?)[ \t]$"/>
    <property name="message" value="Line has trailing spaces."/>
    <property name="fileExtensions" value="java"/>
  </module>
  <module name="TreeWalker">
    <property name="tabWidth" value="4"/>
    <module name="ArrayTypeStyle"/>
    <module name="AvoidEscapedUnicodeCharacters">
      <property name="allowNonPrintableEscapes" value="true"/>
      <property name="allowByTailComment" value="true"/>
      <property name="allowEscapesForControlCharacters" value="true"/>
    </module>
    <module name="ConstantName">
      <property name="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$|^log$"/>
    </module>
    <module name="ClassTypeParameterName">
      <property name="format" value="^[A-Z][a-z0-9]*$"/>
    </module>
    <module name="InterfaceTypeParameterName">
      <property name="format" value="^[A-Z][a-z0-9]*$"/>
    </module>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName">
      <property name="allowOneCharVarInForLoop" value="true"/>
      <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9]*$|^Result$"/>
    </module>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="MethodTypeParameterName">
      <property name="format" value="^[A-Z][a-z0-9]*$"/>
    </module>
    <module name="PackageName">
      <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
    </module>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <module name="LineLength">
      <property name="max" value="120"/>
      <property name="ignorePattern" value="^import\s.*$"/>
    </module>
    <module name="AnnotationLocation"/>
    <module name="AnnotationUseStyle"/>
    <module name="MissingDeprecated"/>
    <module name="PackageAnnotation"/>
    <module name="SuppressWarnings"/>
    <module name="SuppressWarningsHolder"/>
    <module name="AvoidNestedBlocks">
      <property name="allowInSwitchCase" value="true"/>
    </module>
    <module name="EmptyBlock"/>
    <module name="EmptyCatchBlock">
      <property name="exceptionVariableName" value="ignored"/>
    </module>
    <module name="LeftCurly">
      <property name="option" value="nlow"/>
    </module>
    <module name="NeedBraces">
      <property name="allowSingleLineStatement" value="true"/>
    </module>
    <module name="RightCurly">
      <property name="option" value="same"/>
    </module>
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="MutableException"/>
    <module name="OneTopLevelClass"/>
    <module name="ThrowsCount">
      <property name="max" value="2"/>
    </module>
    <module name="VisibilityModifier"/>
    <module name="CovariantEquals"/>
    <module name="DefaultComesLast"/>
    <module name="EmptyStatement"/>
    <module name="EqualsAvoidNull"/>
    <module name="EqualsHashCode"/>
    <module name="FallThrough"/>
    <module name="IllegalCatch"/>
    <module name="IllegalInstantiation"/>
    <module name="IllegalThrows"/>
    <module name="IllegalToken"/>
    <module name="InnerAssignment"/>
    <module name="MagicNumber"/>
    <module name="MissingSwitchDefault"/>
    <module name="ModifiedControlVariable">
      <property name="skipEnhancedForLoopVariable" value="true"/>
    </module>
    <module name="MultipleStringLiterals"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="NestedForDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NestedIfDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NoClone"/>
    <module name="NoFinalizer"/>
    <module name="OneStatementPerLine"/>
    <module name="PackageDeclaration"/>
    <module name="ParameterAssignment"/>
    <module name="RequireThis">
      <property name="checkMethods" value="false"/>
      <property name="validateOnlyOverlapping" value="true"/>
    </module>
    <module name="ReturnCount"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="BooleanExpressionComplexity">
      <property name="max" value="5"/>
    </module>
    <module name="ClassDataAbstractionCoupling"/>
    <module name="ClassFanOutComplexity"/>
    <module name="CyclomaticComplexity"/>
    <module name="JavaNCSS"/>
    <module name="NPathComplexity">
      <property name="max" value="600"/>
    </module>
    <module name="AnonInnerLength">
      <property name="max" value="30"/>
    </module>
    <module name="MethodCount">
      <property name="maxTotal" value="30"/>
    </module>
    <module name="MethodLength">
      <property name="countEmpty" value="false"/>
      <property name="max" value="80"/>
    </module>
    <module name="OuterTypeNumber"/>
    <module name="ParameterNumber">
      <property name="max" value="6"/>
      <property name="ignoreOverriddenMethods" value="true"/>
      <property name="tokens" value="METHOD_DEF"/>
    </module>
    <module name="GenericWhitespace"/>
    <module name="MethodParamPad"/>
    <module name="NoLineWrap"/>
    <module name="NoWhitespaceAfter"/>
    <module name="NoWhitespaceBefore">
      <property name="allowLineBreaks" value="true"/>
    </module>
    <module name="OperatorWrap"/>
    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter"/>
    <!--module name="WhitespaceAround">
      <property name="allowEmptyConstructors" value="true"/>
      <property name="allowEmptyMethods" value="true"/>
      <property name="allowEmptyTypes" value="true"/>
      <property name="allowEmptyLoops" value="true"/>
    </module-->
  </module>
</module>
